.parser-config-modal {
	.collection-list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8rem;
		margin-bottom: 1rem;

		.item {
			width: 100%;
		}
	}

	.footer {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
}
