{
	"filepath": "{src,cypress}/**/*{.ts,.tsx}*",
	"parser": "typescript",
	"printWidth": 120,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": false,
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"endOfLine": "auto",
	"useTabs": true,
	"tabWidth": 2
}
