@use '../../../scss/animations.scss';

.about-modal {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	.contribute {
		margin-top: 3rem;
	}

	.support-wrapper {
		display: flex;
		justify-content: space-around;
		margin-top: 3.3rem;

		.support-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: transform 0.2s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}

			.asset {
				width: 5.5rem;
				height: 5.5rem;
			}

			span {
				margin-top: 1.4rem;
			}
		}
	}

	.developer {
		margin-top: 4rem;
		width: 100%;
		text-align: center;
	}
}
