.main-wrapper {
	background-image: url('../../../assets/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
}
