@use '../../../scss/animations.scss';

.parser-form {
	display: flex;
	flex-direction: column;

	label {
		margin-bottom: 0.3rem;
		font-weight: bold;
	}

	input {
		margin-bottom: 0.6rem;
	}

	.rom-directory-wrapper {
		display: flex;
		align-items: center;

		.rom-directory-input {
			width: 93%;
		}

		.rom-directory-folder-icon {
			cursor: pointer;
			margin-left: 0.5rem;
		}
	}

	.button-wrapper {
		display: flex;
	}
}
