@use '../../scss/animations.scss';

.configure-assets {
	margin-bottom: 6rem;

	.loader {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-top: 10rem;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(60rem, 1fr));
		gap: 3rem;

		.game {
			animation: bottom-fade-in 0.3s ease-out;
			user-select: none;

			.title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: fit-content;

				.tags {
					margin-top: 0.7rem;
					display: flex;
					gap: 0.5rem;
				}
			}
		}

		.ignored {
			width: 100%;
			display: flex;
			justify-content: center;
			animation: fade-in 0.3s ease-out;
		}
	}

	.trailing-footer-wrapper {
		display: flex;
		align-items: center;

		button {
			margin-left: 5rem;
		}
	}
}
