.configure-assets {
	.assets-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
		gap: 1rem;

		.asset {
			height: 12rem;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
