.steam-grid-modal {
	.save {
		display: flex;
		align-items: center;

		.error-message {
			color: orangered;
		}
	}

	.input-wrapper {
		display: flex;
		align-items: center;

		input {
			width: 18rem;
			margin-left: 0.5rem;
		}
	}
}
