.parser-config-game-collection {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.5rem;

	.collection-name {
		display: flex;
		align-items: center;

		svg {
			cursor: pointer;
		}
	}

	.label {
		font-weight: bold;
		margin-left: 0.3rem;
		cursor: pointer;
		user-select: none;
		transition: letter-spacing 0.3s;

		&:hover {
			letter-spacing: 0.04rem;
		}
	}

	.collection-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 0.5rem;
		padding-bottom: 1rem;
	}

	.game-item {
		width: 100%;
		margin-left: 1.4rem;
	}
}
