.asset-modal {
	$horizontal-padding: 3rem;

	display: flex;
	justify-content: space-between;
	width: calc(100% - $horizontal-padding);
	height: 72%;
	padding: 2rem 2.7rem $horizontal-padding;

	.selected-asset {
		display: flex;
		justify-content: center;
		align-self: center;
		flex-wrap: wrap;
		width: 45%;

		.asset-type-group {
			margin-top: 2.9rem;
		}
	}

	.available-assets {
		width: 45%;

		.grid {
			overflow-y: auto;
			max-height: 100%;
			margin-top: 1rem;
			display: grid;
			gap: 1.5rem;

			.item {
				cursor: pointer;
				filter: saturate(100%);
				transition: 0.2s ease-in-out;
				-webkit-backface-visibility: hidden;
				-webkit-transform: translateZ(0) scale(1, 1);

				&:hover {
					filter: saturate(200%);
				}
			}
		}
	}
}
