html {
	font-family: 'Montserrat', 'Roboto', sans-serif;
}

body {
	margin: 0;
	color: white;
}

.main-wrapper {
	display: flex;
}

a {
	color: white;
}

label {
	cursor: default;
}

input[type='text'] {
	min-width: 20rem;
}

input[type='text'],
select {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	box-sizing: border-box;
}
