:root {
	--primary-color: #14bdeb;
	--primary-color-rgb: 20, 188, 235;
	--secondary-color: #b37ba4;
	--secondary-color-rgb: 179, 123, 164;
	--ternary-color: #3d4451;
	--light-gray: #dccde8;
	--black-color: #00100b;
	--error-color: #d8000c;
}

html {
	background-image: url('../../assets/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

::-webkit-scrollbar {
	z-index: 2;
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	background: #2e3139;
	opacity: 0.4;
}
::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 20px;

	&:hover {
		background-color: var(--secondary-color);
	}
}
