:root {
	--primary-color: #14bdeb;
	--secondary-color: #b37ba4;
	--black-color: #00100b;
}

html {
	background-image: url('../../assets/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
